body {
  font-family: Arial; 
}
.p-title{
  font-size: 22px;
  background-color: rgb(255, 255, 251);
  padding: 4px;
  width: 457px;
  text-align: center;
  border-radius: 8px;
  border: 1px solid black ;
}
.todo-grid,
.todo-input-grid {
  display: grid;
  grid-template-columns: 200px 150px 100px;
  column-gap: 10px;
  row-gap: 10px;
  align-items: center;
  text-align: center;
}
.todo-input-grid {
  margin-bottom: 10px;
  align-items: stretch;
}
.name-input,
.due-date-input {
  font-size: 15px;
  border-radius: 10px;
  text-align: center;
  padding: 6px;
}
.add-todo-button {
  background-color: green;
  border-radius: 10px;
  color: white;
  border: none;
  font-size: 15px;
  cursor: pointer;
}
.delete-todo-button {
  background-color: darkred;
  border-radius: 10px ;
  color: white;
  border: none;
  font-size: 15px;
  cursor: pointer;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}
.todo-list-name{
  padding: 6px;
  border: 1px solid black;
  border-radius: 8px;
  background-color: beige;
  color: black;
}
.todo-list-duedate{
  padding: 6px;
  color: black;
  border-radius: 8px;
  border: 1px solid black;
  background-color: beige;
}